<div>
    <div class="abouttus">
      <h1 class="title" id="aboutus">about us</h1>
      <p>
         CrownEdge Hotels Limited boasts of 16 comfort rooms and apartments. We offer a restaurant, lounge barl. Other facilities include a gym, and a multi functional banquet hall.
        
        Our rooms offer luxury and comfort for every visitor. Each room has been meticulously decorated with furnitures and materials from different parts of the world.
         
        Home away from home
        Cocktail Bar serves up an array of light bites, fresh local fish and small bites. Our cocktail menu uses only premium spirits, fresh juices and all our syrups are made in house by out highly skilled Bar staffs
      </p>
      <p>We pride ourselves in creating memorable moments for our guests through a high degree of luxury with our exclusive and delicious Nigerian and Western food & beverages and top branded selected wines.</p>
    </div>
  </div>
        
        
        
         
        