{% extends 'base.html' %}

{% block title %} | Booking {% endblock title %} 

{% block header %} {% include 'header.html' %}{% endblock header %} 
{% block banner %} {% include 'banner.html' %} {% endblock banner %}

{% load humanize %}
{% load static %}
{% block content %}
<section>
  <div class="container-fluid">
    <h1 class="title">your booking</h1>
    <div class="row">
      <div class="col-12 col-md-12 col-lg-12">
        <div class="table-responsive cart">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">delete</th>
                <th scope="col">room</th>
                <th scope="col"># rate</th>
                <th scope="col">checkin</th>
                <th scope="col">checkout</th>
                <th scope="col">days</th>
                <th scope="col">$ amount</th>
              </tr>
            </thead>
            <tbody> 
              {% if booking  %}
                  {% for item in booking %}
                  <tr>
                    <td class ="row remove">
                      <form action="{% url 'delete' %}" method="POST">
                      {% csrf_token %}
                        <input type="hidden" name="room_id" value="{{item.id}}">
                        <!-- <i class="fas fa-minus"></i> -->
                        <button type="submit"><i class="fas fa-minus"></i></button>
                      </form>
                    </td>
                    <td><img src="{{item.room.room_img.url}}"></td>
                    <td>{{item.price|floatformat:2|intcomma}}</td>
                    <td>{{item.checkin}}</td>
                    <td>{{item.checkout}}</td>
                    <td>{{item.no_days}}</td>
                    <td>{{item.amount}}</td>
                  </tr>
                  {% endfor %}
              
              {% endif %}
          </table>
          <table class="cart table">
            <tbody>
            <tr>
              <td class="row"></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td>Subtotal: {{subtotal|floatformat:2|intcomma}}</td>
            </tr>
            <tr>
              <td class="row"></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td>Vat: {{vat|floatformat:2|intcomma}}</td>
            </tr>
            <tr>
              <td class="row"></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td>Total: {{total|floatformat:2|intcomma}}</td>
            </tr>
            <tr>
              
            <td class="row"></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td><a href="{% url 'checkout' %}" class="btn btn-outline-secondary cartbtn">checkout</a></td>
          </tbody>
        </table>
        </div>
      </div>
      <div class="col-12 col-md-3 col-lg-3">
        <div class="links">

        </div>
      </div>
    </div>
  </div>
</section>
{% endblock content %}
{% block footer %} {% include 'footer.html' %} {% endblock footer %}