{% extends 'base.html' %}

{% block title %} | {{profile.first_name}}'s Reservation {% endblock title %} 

{% block header %} {% include 'header.html' %}{% endblock header %} 
{% block banner %} {% include 'banner.html' %} {% endblock banner %}

{% load humanize %}
{% load static %}
{% block content %}
<section>
  <div class="container-fluid">
    <h1 class="title">Reservation Successful</h1>
    <div class="row callback">
      <div class="col-12 col-sm-12 col-md-5 col-lg-4">
        <div class="img-pcard">
          <img src="{{profile.pix.url}}" alt="profile picture">
        </div>
      </div>
      <div class="col-12 col-sm-12 col-md-5 col-lg-5">
        <div class="call">
          <h3>Dear <span>{{profile.first_name}}</span> your booking is completed!</h3>
          <h4>your room will be allocated in a few minutes.</h4>
          <h5>thank you for your using Crownedge!</h5>
        </div>
        
      </div>

      <div class="col-12 col-sm-12 col-md-2 col-lg-3 mt-5">
        <div class="pro-links">
          <h4 class="mb-4">Useful Links</h4>
          <ul class="list-unstyled">
            <ul class="list-unstyled">
              <li><a href="{% url 'home' %}">Home</a></li>
              <li><a href="{% url 'rooms' %}">rooms</a></li>
              <li><a href="{% url 'profile' %}">profile</a></li>
              <li><a href="{% url 'update' %}">profile update</a></li>
              <li><a href="{% url 'password' %}">profile-password</a></li>
              <li><a href="{% url 'history' %}">booking history</a></li>
              <li><a href="{% url 'booking_details' %}">booking detail</a></li>
            
          </ul>
        </div>
    </div>
    <!-- booking table -->
  <div class="container mt-5">
    <div class="table-responsive">
        <table class="cart table">
          <thead>
            <tr>
              <th scope="col">Room</th>
              <th scope="col">room no</th>
              <th scope="col">Checkin</th>
              <th scope="col">Checkout</th>
              <th scope="col">Days</th>
              <th scope="col">$ Amount</th>
            </tr>
          </thead>
          <tbody> 
            {% if reserved  %}
                {% for item in reserved %}
                <tr>
                  <td><img src="{{item.room.room_img.url}}" style="width: 80px;"></td>
                  <td>{{item.room.room_no}}</td>
                  <td>{{item.checkin}}</td>
                  <td>{{item.checkout}}</td>
                  <td>{{item.no_days}}</td>
                  <td>{{item.amount|floatformat:2|intcomma}}</td>
                </tr>
                {% endfor %}
            {% endif %}
        </table>
        <table class="cart table">
            <tbody>
            <tr>
              <td class="row"></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td>Total: {{total|floatformat:2|intcomma}}</td>
            </tr>
          </tbody>
        </table>
    </div>
</div>
  </div>
  
</section>
{% endblock content %}
{% block footer %} {% include 'footer.html' %} {% endblock footer %}