{% extends "base.html" %}


{% block title %} |{{specific_category.room_type|title}} Rooms {% endblock title %}
{% block header %} {% include 'header.html' %} {% endblock header %}
{% block banner %} {% include 'banner.html' %} {% endblock banner %}
{% block content %}
<section>
    <div class="text-center pb-5">
        <!-- container fluid box starts here  -->
        <div class="container-fluid">
            <h1 class="titlep">{{specific_category.room_type|title}}</h1>
            <div class="row royal">
                {% if category %}
                    {% for items in category %}
                    <!-- col box starts here  -->
                    <div class="col-10 col-sm-9 col-md-5 col-lg-3 col-xl-3 mt-4 mb-4 royal-b">
                        <div class="card royal-box">
                            <a href="{% url 'details' items.id items.slug %}"><img src="{{items.room_img.url}}" height="250" class="card-img-top w-100 royal-img"></a>
                            <div class="card-body royal-text">
                                {% comment %} <h5 class="card-title">Category: {{items.category|title}}</h5> {% endcomment %}
                                <h5 class="card-title">Room tag: {{items.tag|title}}</h5>
                                <h5 class="card-title">Room: {{items.room_no|title}}</h5>
                                <p class="card-text">Rate: {{items.rate}}</p>
                                <p class="card-text">Min: {{items.min_guest}}</p>
                                <p class="card-text mb-3">Max: {{items.max_guest}}</p>
                                {% if items.available %}
                                    <a href="{% url 'details' items.id items.slug  %}"   class="book">book now</a>
                                {% else %}
                                    <p class="book">Unavailabel</p>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <!-- col box ends here  --> 
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
    <!-- container box ends here  -->
  </section>
  {% endblock content %}
  {% block footer %} {% include 'footer.html' %} {% endblock footer %}