{% load sample_tags %}

<div class="footer">
    <div class="container-fluid footer2">
      <div class="row">
        <div class="col-12 col-sm-6 col-md-4 col-lg-3 foota-box">
          <h1>Crownedge <span style="margin-left: 15%;">Hotels</span></h1>
          <h4>Hospitality at its best...</h4>
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-3 foota-box2">
          <img src="{{cprofile.logo.url}}" alt="">
          <h4 class="mt-3 mb-3">Call Us Now</h4>
          <h6>Your are our Royalty...</h6>
          <ul class="list-unstyled">
            <li><a href=""><i class="fas fa-phone-alt"></i></a><span> +234-8143750375</span></li>
            <li><a href=""><i class="fas fa-mobile-alt"></i></a><span> +234-8038967106</span></li>
          </ul>
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-3 foota-box3">
          <h4>Useful Links</h4>
          <ul class="list-unstyled">
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'categories'  %}">Categories</a></li>
            <li><a href="{% url 'rooms' %}">Rooms</a></li>
            <li><a href="{% intralink 'home' 'aboutus' %}">About</a></li>
            <li><a href="{% intralink 'home' 'contact' %}">ContactUs</a></li>
          </ul>
        </div>
        <div class="col-12 col-sm-6 col-md-12 col-lg-3 foota-box4">
          <h4 class="mb-4">Social Media</h4>
          <ul class="list-inline">
            <li class="list-inline-item"><a href=""><i class="fab fa-facebook"></i></a></li>
            <li class="list-inline-item"><a href=""><i class="fab fa-instagram"></i></a></li>
            <li class="list-inline-item"><a href=""><i class="fab fa-twitter"></i></a></li>
            <li class="list-inline-item"><a href=""><i class="fab fa-linkedin"></i></a></li>
            <li class="list-inline-item"><a href=""><i class="fab fa-whatsapp"></i></a></li>
          </ul>
        </div>
      </div>
      <div class="footer3">
        <a href="{% url 'rooms' %}"><img src="/media/logo/master_visa_logo.png" style="width: 280px;" alt="credit card logo"></a>
        <p class="mt-5"> Copyright&copy; 2022. All rights reserved! Crafted by: Onuoha James Maduka</p>
        <a href="{% url 'home' %}" class="btn btn-outline-warning float-right mb-3 text-white"><i class="fa fa-arrow-up" aria-hidden="true"></i></a>
  <div class="footer3">
      </div>
    </div>
  </div>