{% extends 'base.html' %}



{% block title %} | User Signup {% endblock title %} 

{% block header %} {% include 'header.html' %}{% endblock header %} 

{% block content %}
<div class="form">
    <h1>signup</h1>
    <div class="form-page">
      <form action="{% url 'signup' %}" method="POST"> 
          {% csrf_token %}
        <div class="form-group">
          <label class="labe" for="exampleInputtext1">username</label>
          <input type="text" name="username" class="form-control" id="exampleInputText1" aria-describedby="textHelp">
        </div>
        <div class="form-group">
          <label class="labe" for="exampleInputtext1">first name</label>
          <input type="text" name="first_name" class="form-control" id="exampleInputText1" aria-describedby="textHelp">
        </div>
        <div class="form-group">
          <label class="labe" for="exampleInputtext1">last name</label>
          <input type="text" name="last_name" class="form-control" id="exampleInputText1" aria-describedby="textHelp">
        </div>
        <div class="form-group">
          <label class="labe" for="exampleInputEmail1">phone</label>
          <input type="text" name="phone" class="form-control" id="exampleInputemail1" aria-describedby="textHelp">
        </div>
        <div class="form-group">
          <input type="hidden" name="pix" value="profile/avatar.jpg" class="form-control" id="exampleInputemail1"   aria-describedby="textHelp">
        </div>
        <div class="form-group">
          <label class="labe" for="exampleInputEmail1">email</label>
          <input type="email" name="email" class="form-control" id="exampleInputemail1" aria-describedby="emailHelp">
        </div>
        <div class="form-group">
          <label class="labe" for="exampleInputtext1">password</label>
          <input type="password" name="password1" class="form-control" id="exampleInputText1" aria-describedby="textHelp">
        </div>
        <div class="form-group">
          <label class="labe" for="exampleInputtext1">confirm password</label>
          <input type="password" name="password2" class="form-control" id="exampleInputText1" aria-describedby="textHelp">
        </div>
        <button type="submit" class="btn check-btn">signup</button>
        </div>
      </form>
    </div>
  </div>
{% endblock content %}
{% block footer %} {% include 'footer.html' %} {% endblock footer %}